



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}


.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;
		background-color:#48944f;
	height:160px;

}

.tp-banner{
	width:100%;
	position:relative;
	vertical-align:middle;
	text-align:center;
	top:60px;
	font-family:"Lucida Handwriting",sans-serif;
	font-size:24px;
	color:white;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

